
/*  GENERAL  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* this targets the whole page */
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Target html in the body*/
body{
    background-color: lightblue;
    font-family: "Poppinns", sans-serif;
}

/*if we click links to our pages it will scroll to them in a smooth manner*/
html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

/*  TRANSISTIONS  */
a, .btn{
    transition: all 300ms ease;
}

/*  DESKTOP NAV  */
.navbar{
    background: cornflowerblue; 
    list-style: none;
    font-size: 1.5rem; 
    padding: 15px; 
}
.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 2rem;
}
/*  STYLING LINK ELEMENT  */
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-decoration-color: rgb(181,181,181);
}
.logo a{
    display: block; 
    width: 80px; 
    height: 80px;
    color: white;
}
li{
    list-style: none; 
    display: inline-block;
}
li a{
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
}
.img-logo{
    border-radius: 50%; /*makes the image circular */
    width: 100%; /*ensure it fits within its container */
    height: auto; /* Maintains aspect ratio */
}
.img-logo{
    cursor: default;
}

.img-Headshot{
    width: 300px;
    background-position: right top;
    margin-right: 200px;
}